# Selecting Columns

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [4]:
titanic[["age"]]

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [5]:
type(titanic["age"])

pandas.core.series.Series

In [6]:
type(titanic[["age"]])

pandas.core.frame.DataFrame

In [7]:
# Doesn't work
titanic["age", "sex"]

KeyError: ('age', 'sex')

In [8]:
titanic[["age", "sex"]]

      age     sex
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
..    ...     ...
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [9]:
# Doesn't work
titanic[["age", "sex"="male"]]

SyntaxError: invalid syntax (1406757431.py, line 2)

# Selecting one Column with the "dot notation"

In [10]:
titanic.age.equals(titanic["age"])

True

In [11]:
titanic.embarked

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object