# Importing Data from Excel with pd.read_excel()

## First Steps - NEW (from Pandas Version 0.24.x)

In [1]:
import pandas as pd

In [2]:
sales = pd.read_excel("sales.xls")

In [3]:
sales

  Unnamed: 0      City Country  Sales  Bonus
0       Mike  New York     USA     25   2.50
1        Jim    Boston     USA     43   4.30
2     Steven    London      UK     76   7.60
3        Joe    Madrid   Spain     12   1.80
4        Tom     Paris  France     89  13.35

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   City        5 non-null      object
 2   Country     5 non-null      object
 3   Sales       5 non-null      int64
 4   Bonus       5 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes

In [5]:
pd.read_excel("sales.xls", index_col = 0, header = 0)

            City Country  Sales  Bonus
Mike    New York     USA     25   2.50
Jim       Boston     USA     43   4.30
Steven    London      UK     76   7.60
Joe       Madrid   Spain     12   1.80
Tom        Paris  France     89  13.35

In [6]:
pd.read_excel("sales.xls", index_col = 0, header = 0, names = ["Name", "Loc_City", "Loc_Country", "Revenue", "Add_Comp"])

        Loc_City Loc_Country  Revenue  Add_Comp
Name
Mike    New York         USA       25      2.50
Jim       Boston         USA       43      4.30
Steven    London          UK       76      7.60
Joe       Madrid       Spain       12      1.80
Tom        Paris      France       89     13.35

In [8]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols="A:C")

            City Country
Mike    New York     USA
Jim       Boston     USA
Steven    London      UK
Joe       Madrid   Spain
Tom        Paris  France

In [9]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols="C:E")

         Sales  Bonus
Country
USA         25   2.50
USA         43   4.30
UK          76   7.60
Spain       12   1.80
France      89  13.35

In [10]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols="A, C:E")

       Country  Sales  Bonus
Mike       USA     25   2.50
Jim        USA     43   4.30
Steven      UK     76   7.60
Joe      Spain     12   1.80
Tom     France     89  13.35

In [11]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols=":C")

            City Country
Mike    New York     USA
Jim       Boston     USA
Steven    London      UK
Joe       Madrid   Spain
Tom        Paris  France

In [12]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols="C:")

IndexError: pop from empty list

In [13]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols=[0,3,4])

        Sales  Bonus
Mike       25   2.50
Jim        43   4.30
Steven     76   7.60
Joe        12   1.80
Tom        89  13.35

In [14]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols=2)

ValueError: Passing an integer for `usecols` is no longer supported.  Please pass in a list of int from 0 to `usecols` inclusive instead.

In [15]:
pd.read_excel("sales.xls", index_col = 0, header = 0, usecols=[2])

Empty DataFrame
Columns: []
Index: [USA, USA, UK, Spain, France]