In [1]:
"Hello World"

'Hello World'

In [2]:
type("Hello World")

str

In [3]:
hello = "Hello World"
hello

'Hello World'

In [4]:
len(hello)

11

In [5]:
hello.lower()

'hello world'

In [6]:
hello.upper()

'HELLO WORLD'

In [7]:
hello.title()

'Hello World'

In [8]:
hello.split(" ")

['Hello', 'World']

In [9]:
hello.replace("Hello", "Hi")

'Hi World'

In [10]:
import pandas as pd

In [11]:
summer = pd.read_csv("summer.csv")

In [12]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [13]:
names = summer.loc[:9, "Athlete"].copy()

In [14]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [15]:
names.dtypes

dtype('O')

In [16]:
names[0]

'HAJOS, Alfred'

In [17]:
type(names[0])

str

In [18]:
names.lower()

AttributeError: 'Series' object has no attribute 'lower'

In [19]:
names.str.lower()

0            hajos, alfred
1         herschmann, otto
2        drivas, dimitrios
3       malokinis, ioannis
4       chasapis, spiridon
5    chorophas, efstathios
6            hajos, alfred
7         andreou, joannis
8    chorophas, efstathios
9            neumann, paul
Name: Athlete, dtype: object