In [1]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [2]:
age=titanic["age"]

In [3]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [4]:
age.count()

714

In [5]:
age.size

891

In [6]:
len(age)

891

In [7]:
sum(age) #cannot handle missing values

nan

In [8]:
age.sum() #can handle missing values

21205.17

In [9]:
age.sum(skipna=True) #default

21205.17

In [10]:
age.sum(skipna=False)

nan

In [11]:
age.mean()

29.69911764705882

In [12]:
age.median()

28.0

In [13]:
age.std()

14.526497332334044

In [14]:
age.min()

0.42

In [15]:
age.max()

80.0

In [16]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [17]:
len(age.unique())

89

In [18]:
age.nunique() #drops nan by default

88

In [19]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [20]:
age.value_counts(sort=True)

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [21]:
age.value_counts(sort=False, dropna=True, ascending=False, normalize=False, bins=5)

(0.339, 16.336]     100
(16.336, 32.252]    346
(32.252, 48.168]    188
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [22]:
age.value_counts(sort=False, dropna=True, ascending=False, normalize=True, bins=5)

(0.339, 16.336]     0.112233
(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: age, dtype: float64

In [23]:
type(age.value_counts(sort=False, dropna=True, ascending=False, normalize=True, bins=5))

pandas.core.series.Series

In [24]:
age_df=age.value_counts(sort=False, dropna=True, ascending=False, normalize=True, bins=5).to_frame()
age_df

                       age
(0.339, 16.336]   0.112233
(16.336, 32.252]  0.388328
(32.252, 48.168]  0.210999
(48.168, 64.084]  0.077441
(64.084, 80.0]    0.012346

In [25]:
age_freqs=age_df.age
age_freqs

(0.339, 16.336]     0.112233
(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: age, dtype: float64

In [26]:
type(age_freqs)

pandas.core.series.Series