In [1]:
import pandas as pd

### From dataset

In [2]:
summer = pd.read_csv("summer.csv")

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer["Athlete"]

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [5]:
summer.Athlete

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [6]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [7]:
type(summer.iloc[0])

pandas.core.series.Series

### Importing from CSV

In [8]:
pd.read_csv("summer.csv", usecols = ["Athlete"], squeeze = True).head()

C:\Users\dan.girvitz\AppData\Local\Temp\ipykernel_28088\2236201607.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv("summer.csv", usecols = ["Athlete"], squeeze = True).head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

### Creating from scratch with pd.Series()

#### from Numpy Array

In [9]:
import numpy as np

In [10]:
sales = np.array([10,25,6,36,2])
sales

array([10, 25,  6, 36,  2])

In [11]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int32

In [12]:
pd.Series([10,25,6,36,2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [13]:
pd.Series([10,25,6,36,2],
          index=["Mon", "Tue","Wed","Thu","Fri"])

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [14]:
pd.Series([10,25,6,36,2],
          index=["Mon", "Tue","Wed","Thu","Fri"], 
          name="Sales")

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
Name: Sales, dtype: int64

#### from List

In [15]:
sales = (10,25,6,32,2)

In [16]:
pd.Series(sales)

0    10
1    25
2     6
3    32
4     2
dtype: int64

In [18]:
pd.Series(sales,
          index=["Mon", "Tue","Wed","Thu","Fri"], 
          name="Sales")

Mon    10
Tue    25
Wed     6
Thu    32
Fri     2
Name: Sales, dtype: int64

#### from Dictionary

In [21]:
dic = {"Mon": 10,
       "Tue": 25, 
       "Wed": 6,
       "Thu": 36,
       "Fri": 2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [23]:
sales = pd.Series(dic)
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [24]:
pd.Series(dic, index = ["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue    25.0
Wed     6.0
dtype: float64

In [25]:
pd.Series(dic, index = [1,2,3,4,5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64