In [1]:
import pandas as pd

## the "titanic" dataset

In [2]:
titanic = pd.read_csv("titanic.csv")

In [5]:
titanic.head

<bound method NDFrame.head of      survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]>

In [6]:
titanic.tail

<bound method NDFrame.tail of      survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]>

In [7]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [8]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

### the "age" column

In [9]:
age = titanic.age
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [10]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [11]:
age[0]

22.0

In [12]:
age[2]

26.0

In [16]:
age[-1]

KeyError: -1

In [17]:
age.iloc[-1]

32.0

In [18]:
age[890]

32.0

In [19]:
age[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [20]:
age[3:5]

3    35.0
4    35.0
Name: age, dtype: float64

In [21]:
age.iloc[3:5] #better practice

3    35.0
4    35.0
Name: age, dtype: float64

## the "summer" dataset

In [24]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

### the "event" column

In [25]:
event = summer.Event

In [26]:
event

Athlete
HAJOS, Alfred                            100M Freestyle
HERSCHMANN, Otto                         100M Freestyle
DRIVAS, Dimitrios            100M Freestyle For Sailors
MALOKINIS, Ioannis           100M Freestyle For Sailors
CHASAPIS, Spiridon           100M Freestyle For Sailors
                                        ...
JANIKOWSKI, Damian                             Wg 84 KG
REZAEI, Ghasem Gholamreza                      Wg 96 KG
TOTROV, Rustam                                 Wg 96 KG
ALEKSANYAN, Artur                              Wg 96 KG
LIDBERG, Jimmy                                 Wg 96 KG
Name: Event, Length: 31165, dtype: object

In [27]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [28]:
event[0] # equivalent to event.iloc[0]

'100M Freestyle'

In [29]:
event[1] # equivalent to event.iloc[1]

'100M Freestyle'

In [30]:
event[[0,1]] # equivalent to event.iloc[[0,1]]

Athlete
HAJOS, Alfred       100M Freestyle
HERSCHMANN, Otto    100M Freestyle
Name: Event, dtype: object

In [31]:
event[:2] # equivalent to event.iloc[:2]

Athlete
HAJOS, Alfred       100M Freestyle
HERSCHMANN, Otto    100M Freestyle
Name: Event, dtype: object

In [34]:
event["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [35]:
event[:"DRIVAS, Dimitrios"]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [36]:
event.loc["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [37]:
event.loc[:"DRIVAS, Dimitrios"]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [38]:
event["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [39]:
event.loc["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object