In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
age = titanic.age

In [5]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [6]:
age.sort_values(ascending=False)

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [8]:
age.sort_values(ascending=False).head(5)

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
Name: age, dtype: float64

In [11]:
age.sort_values(ascending=False).iloc[:5]

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
Name: age, dtype: float64

In [12]:
age.nlargest()

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [13]:
age.nlargest(1)

630    80.0
Name: age, dtype: float64

In [19]:
age.sort_values(ascending=True).head(3)

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [20]:
age.sort_values(ascending=True).iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [21]:
age.nsmallest(3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64