# Part 2: Full Data Workflow A-Z

## Importing Data from the Web  with pd.read_html()

In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table"

In [3]:
pd.read_html(url)[1]

                                                   0
0                                Part of a series on
1                               1976 Summer Olympics
2  Bid process (bid details) Boycott Development ...
3  .mw-parser-output .navbar{display:inline;font-...

In [4]:
wik_1976 = pd.read_html(url)[0]

In [5]:
wik_1976.head()

,1976 Summer Olympics medals,1976 Summer Olympics medals.1
0,Location,"Montreal, Canada"
1,Highlights,Highlights
2,Most gold medals,Soviet Union (49)
3,Most total medals,Soviet Union (125)
4,".mw-parser-output .hlist dl,.mw-parser-output ...",".mw-parser-output .hlist dl,.mw-parser-output ..."

In [6]:
wik_1976.tail()

,1976 Summer Olympics medals,1976 Summer Olympics medals.1
0,Location,"Montreal, Canada"
1,Highlights,Highlights
2,Most gold medals,Soviet Union (49)
3,Most total medals,Soviet Union (125)
4,".mw-parser-output .hlist dl,.mw-parser-output ...",".mw-parser-output .hlist dl,.mw-parser-output ..."

In [7]:
wik_1976.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   1976 Summer Olympics medals    5 non-null      object
 1   1976 Summer Olympics medals.1  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [8]:
url2 ="https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table"

In [9]:
pd.read_html(url2)[1]

                                                   0
0                                Part of a series on
1                               1996 Summer Olympics
2  Bid process (bid details) Venues Marketing (ma...
3  .mw-parser-output .navbar{display:inline;font-...

In [10]:
wik_1996 = pd.read_html(url2)[1]

In [11]:
wik_1996.head()

                                                   0
0                                Part of a series on
1                               1996 Summer Olympics
2  Bid process (bid details) Venues Marketing (ma...
3  .mw-parser-output .navbar{display:inline;font-...

In [12]:
wik_1996.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [13]:
wik_1976.to_csv("wik_1976.csv", index= False)
wik_1996.to_csv("wik_1996.csv", index= False)