In [1]:
import pandas as pd

# Having columns in place

In [2]:
player = ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"]
nationality = ["Argentina", "Portugal", "Brasil", "France", "Germany"]
club = ["FC Barcelona", "Juventus FC", "Paris SG", "Paris SG", "FC Bayern" ]
world_champion = [False, False, False, True, True]
height = [1.70, 1.87, 1.75, 1.78, 1.93]
goals = [45, 44, 28, 21, 0]

In [3]:
dic = {"Player":player, "Nationality":nationality, "Club":club, 
        "World_Champion":world_champion, "Height":height, "Goals_2018":goals
       }

In [4]:
df = pd.DataFrame(data = dic)
df

,Player,Nationality,Club,World_Champion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
2,Neymar Junior,Brasil,Paris SG,False,1.75,28
3,Kylian Mbappe,France,Paris SG,True,1.78,21
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0

In [5]:
players = df.set_index("Player")

In [6]:
players

,Nationality,Club,World_Champion,Height,Goals_2018
Player,,,,,
Lionel Messi,Argentina,FC Barcelona,False,1.70,45
Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
Neymar Junior,Brasil,Paris SG,False,1.75,28
Kylian Mbappe,France,Paris SG,True,1.78,21
Manuel Neuer,Germany,FC Bayern,True,1.93,0

# Having rows in place

## Method 01

In [7]:
list(zip(nationality,
         club,
         world_champion,
         height,
         goals))

[('Argentina', 'FC Barcelona', False, 1.7, 45),
 ('Portugal', 'Juventus FC', False, 1.87, 44),
 ('Brasil', 'Paris SG', False, 1.75, 28),
 ('France', 'Paris SG', True, 1.78, 21),
 ('Germany', 'FC Bayern', True, 1.93, 0)]

In [8]:
zipped = list(zip(nationality,
                  club,
                  world_champion,
                  height,
                  goals))

In [9]:
messi, ronaldo, neymar, mbappe, neuer = zipped

In [10]:
messi

('Argentina', 'FC Barcelona', False, 1.7, 45)

In [11]:
ronaldo

('Portugal', 'Juventus FC', False, 1.87, 44)

In [12]:
df01 = pd.DataFrame(data = [messi, ronaldo, neymar, mbappe, neuer],
                    index = ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"],
                    columns = ["Nationality", "Club", "World_Champion", "Height", "Goals_2018"])

In [13]:
df01

,Nationality,Club,World_Champion,Height,Goals_2018
Lionel Messi,Argentina,FC Barcelona,False,1.70,45
Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
Neymar Junior,Brasil,Paris SG,False,1.75,28
Kylian Mbappe,France,Paris SG,True,1.78,21
Manuel Neuer,Germany,FC Bayern,True,1.93,0

### Method 02

In [14]:
df02 = pd.Series(index = player,
                 data = nationality,
                 name = "Nationality").to_frame()

In [15]:
df02

                  Nationality
Lionel Messi        Argentina
Cristiano Ronaldo    Portugal
Neymar Junior          Brasil
Kylian Mbappe          France
Manuel Neuer          Germany

In [17]:
df02["Club"] = club

In [18]:
df02

                  Nationality          Club
Lionel Messi        Argentina  FC Barcelona
Cristiano Ronaldo    Portugal   Juventus FC
Neymar Junior          Brasil      Paris SG
Kylian Mbappe          France      Paris SG
Manuel Neuer          Germany     FC Bayern